# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# Swap files
*.swp

# Ignore ide files
.idea/

# Jupter notebook cache
*.ipynb_checkpoints/

# Platform specific cmake build files.
cmake-build-debug/

# ignore input, output and executables
input/
output/
run/